#parent {
    width: 200px;
    height: 200px;
    border: 4px solid blue;
    background-color: blue;
    position: relative;
}

#child {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 100px;
    height: 100px;
    background-color: red;
}