.parent {
    border: 3px solid green;
}

.child {
    height: 100px;
    width: 200px;
    border: 1px solid blue;
    margin: 10px auto;
}


.child:first-child{
    width: 80px;
    height: 60px;
}

.child:nth-child(2){
    width: 100px;
    height: 80px;
}

.child:last-child{
    width: 130px;
    height: 100px;
}


/* tr:nth-child(even) {
    background: lightgray;
  } */